/* Define o estilo global do corpo da página */
body {
  background-color: black; /* Define a cor de fundo como preto */
  color: white; /* Define a cor do texto como branco */
  font-family: Arial, sans-serif; /* Define a fonte padrão como Arial */
  margin: 0; /* Remove as margens padrão do corpo */
  padding: 0; /* Remove os preenchimentos padrão do corpo */
}

/* Estilo para o título h1 */
h1 {
  text-align: center; /* Centraliza o texto do título */
}

/* Estilo para o contêiner do iframe */
#sub {
  display: flex; /* Usa flexbox para o contêiner */
  justify-content: center; /* Centraliza horizontalmente o conteúdo do contêiner */
  margin: 20px; /* Adiciona margem ao redor do contêiner */
}

/* Estilo para o iframe */
iframe {
  width: 100%; /* Define a largura como 100% do contêiner pai */
  max-width: 800px; /* Define a largura máxima como 800px */
  height: 460px; /* Define a altura como 460px */
  border: 0; /* Remove a borda do iframe */
  margin: auto; /* Centraliza o iframe */
}

/* Estilo para o contêiner das imagens */
.img-container {
  display: flex; /* Usa flexbox para o contêiner */
  flex-wrap: wrap; /* Permite que os itens do contêiner quebrem para uma nova linha se necessário */
  justify-content: center; /* Centraliza horizontalmente os itens do contêiner */
  gap: 10px; /* Adiciona um espaçamento de 10px entre os itens do contêiner */
  padding: 20px; /* Adiciona preenchimento ao redor do contêiner */
}

/* Estilo para as imagens com borda arredondada */
.imgborda {
  width: 100%; /* Define a largura como 100% do contêiner pai */
  max-width: 280px; /* Define a largura máxima como 280px */
  border-radius: 10px; /* Define o raio da borda como 10px, tornando-a arredondada */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a área definida */
}

/* Media query para telas com largura máxima de 768px */
@media (max-width: 768px) {
  iframe {
    height: 300px; /* Define a altura do iframe como 300px para telas menores */
  }
}

/* Media query para telas com largura máxima de 480px */
@media (max-width: 480px) {
  iframe {
    height: 200px; /* Define a altura do iframe como 200px para telas ainda menores */
  }
}



